Package: com.kurrt.meow
Name: Meow
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Meow
Homepage: https://kurrt.com/repo/meow
Depiction: https://kurrt.com/repo/meow
SileoDepiction: https://kurrt.com/repo/meow/sileo.php
Maintainer: Kurrt <dev@kurrt.com>
Author: Kurrt <dev@kurrt.com>
Section: Tweaks
